 <div id="fullscreen">
    <div id="popup">
        <div class="row">
            <div class="col popup-head">
                <span>Quick user edit</span>
                <button type="button" name="button" class="pull-right popup-close ghost round"><i class="in-button ion-close-round"></i></button>
            </div>
            <div class="col popup-body">
                <div class="row">
                    <div class="col nmb">
                        <div class="group pull-left">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li class="active"><a href="">FR</a></li>
                                    <li><a href="">EN</a></li>
                                    <li><a href="">SE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="dataTable mb">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-url="http://google.com">
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Noah Fenghom</td>
                            <td>21</td>
                            <td>Male</td>
                            <td>Troyes</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Dwayne Johnson</td>
                            <td>42</td>
                            <td>Male</td>
                            <td>Hayward</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="group pull-right">
                    <button class="pull-left silent nmb mr-" type="button" name="button">Cancel</button>
                    <button class="pull-left nmb" type="button" name="button">Sync Everything</button>
                </div>
                <div class="row">
                    <div class="col nmb">
                        <div class="group pull-left">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li class="active"><a href="">FR</a></li>
                                    <li><a href="">EN</a></li>
                                    <li><a href="">SE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="dataTable mb">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-url="http://google.com">
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Noah Fenghom</td>
                            <td>21</td>
                            <td>Male</td>
                            <td>Troyes</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Dwayne Johnson</td>
                            <td>42</td>
                            <td>Male</td>
                            <td>Hayward</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="group pull-right">
                    <button class="pull-left silent nmb mr-" type="button" name="button">Cancel</button>
                    <button class="pull-left nmb" type="button" name="button">Sync Everything</button>
                </div>
                <div class="row">
                    <div class="col nmb">
                        <div class="group pull-left">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li class="active"><a href="">FR</a></li>
                                    <li><a href="">EN</a></li>
                                    <li><a href="">SE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="dataTable mb">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-url="http://google.com">
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Noah Fenghom</td>
                            <td>21</td>
                            <td>Male</td>
                            <td>Troyes</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Dwayne Johnson</td>
                            <td>42</td>
                            <td>Male</td>
                            <td>Hayward</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="group pull-right">
                    <button class="pull-left silent nmb mr-" type="button" name="button">Cancel</button>
                    <button class="pull-left nmb" type="button" name="button">Sync Everything</button>
                </div>
                <div class="row">
                    <div class="col nmb">
                        <div class="group pull-left">
                            <div class="tabs-container">
                                <ul class="tabs">
                                    <li class="active"><a href="">FR</a></li>
                                    <li><a href="">EN</a></li>
                                    <li><a href="">SE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="dataTable mb">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Sex</th>
                            <th>Location</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-url="http://google.com">
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Noah Fenghom</td>
                            <td>21</td>
                            <td>Male</td>
                            <td>Troyes</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="{{ asset('assets/images/userDefault.jpg') }}"/> Dwayne Johnson</td>
                            <td>42</td>
                            <td>Male</td>
                            <td>Hayward</td>
                            <td class="text-right">
                                <a class="button" href="#"><i class="in-button left ion-eye"></i>View</a>
                                <a class="button" href="#"><i class="in-button left ion-plus-round"></i>Edit</a>
                                <a class="button danger" href="#"><i class="in-button ion-close-round"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="group pull-right">
                    <button class="pull-left silent nmb mr-" type="button" name="button">Cancel</button>
                    <button class="pull-left nmb" type="button" name="button">Sync Everything</button>
                </div>
            </div>
        </div>
    </div>
</div>
