{% extends 'base.html.twig' %}
{% block body %}
    <section class="index">
        <div class="inner">
            <div class="logo">
                <img src="{{ asset('assets/img/logo-devaux.png') }}" alt="Devaux">
                <img src="{{ asset('assets/img/english.png') }}" alt="English version">
            </div>
            <div class="col-4">
                <div class="col">
                    <a href="{{ path('front_client') }}"><img src="{{ asset('assets/img/picto-form.png') }}" alt="Devenir Client Privilège Devaux">
                        <p>Devenir client<br/>Privilège</p></a>
                </div>
                <div class="col">
                    <a href="{{ path('front_distributeur') }}"><img src="{{ asset('assets/img/picto-map.png') }}" alt="Où nous trouver ?">
                        <p>Où nous trouver</p></a>
                </div>
                <div class="col">
                    <a href="{{ path('front_satisfaction') }}"><img src="{{ asset('assets/img/picto-like.png') }}" alt="Donner votre avis">
                        <p>Donnez votre avis</p></a>
                </div>
                <div class="col">
                    <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fwww.tripadvisor.fr%2FUserReviewEdit-g4354347-d2476770-Champagne_Devaux-Bar_sur_Seine_Aube_Grand_Est.html&h=ATMfnaYPqJlls7nXMLjN6AjNSYjYpLY29_BhwTbPpSg4Z7CQLsQljQZxpUahKdwSx8X1-qilLpFBqzhnsv7i0zm8kxulbT4pfCQIXBPTlxR9MDfSiidL-LbEjB3sOmfN7n4MW3wGzEPrNb13wT2nl9zn8NrYZg"><img src="{{ asset('assets/img/trip-advisor.png') }}" alt="Donner votre avis">
                        <p>Tripadvisor</p></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}